appstate.json
bin
node_modules
obj
dist
.vs
package-lock.json
/MessengerChatMediaDownloader/*.bak
/MessengerChatMediaDownloader/temp
/MessengerChatMediaDownloader/threads
/MessengerChatMediaDownloader/threadsIDs.txt
/MessengerChatMediaDownloader/threadsInfo.json
/MessengerChatMediaDownloader/TODO.txt
/MessengerChatMediaDownloader/outputs
